/* 기본설정시작 */
body,html{
    height: 100%;
}
a{
    color: black;
    text-decoration: none;
}
.hidden{
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
}
ul.skipmenu_list li a:focus{
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    background: black;
    color: white;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
}
/*기본설정끝*/

/* 상단영역시작 */
div#header_wrap{
    width: 100%;
    height: 64px;
    position: absolute;
    left: 0px;   
    top: 30px;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 10;
}
header{
    width: 100%;
    max-width: 1840px;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #1E2A78;
    border-radius: 15px;
}
h1#logo{
    width: 100%;
    height: 100%;
    background: url('/film_dental_lap/images/logo_film_detal.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 3.2%; /* 60px */
}
#logo a {
    display: block;                   
    width: 161px;                           
    height: 100%;
    text-indent: -9999px;                 
}
nav#mainmenu{
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 3.2%;
}
ul#mainmenu_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

ul#mainmenu_list>li{
    width: 25%;
    height: 100%;
    position: relative; 
    top: 0px;
    left: 0px;
}
ul#mainmenu_list>li>a{
    width: 100%;
    height: 100%;
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: 500 1.125em 'Pretendard';
    color: #ffffff;
}
ul#mainmenu_list>li.selected:hover>a{
    background-color: #1B9AEF;
}
ul.submenu_list{
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0px;
    background-color: #EAECEF;
    display: none;
    opacity: 0;
}
ul.submenu_list li{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul.submenu_list li:last-child{
    border-bottom: none;
}
ul.submenu_list li a{
    font: 400 1em 'Pretendard';
    transition: 0.2s ease-out; 
}
ul.submenu_list>li:hover{
    background:#686868;
}
ul.submenu_list>li:hover>a{
    color: #ffffff;
}
/* 상단영역끝 */

/* 연락정보영역 */
section#contact{
    width: 100%;
    height: 770px;
    padding: 77px 0px;
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4%;
    background-color: #1E2A78;
}
.contact_title{
    width: 100%;
    text-align: end;
    font: bold 15em/0.7em 'Montserrat';
    letter-spacing: -0.5px;
    color: rgba(255,255,255,0.1);
}
div.contact_inner{
    width: 100%;
    height: 508px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
}
div.map_container{
    width: 48.73%;
    height: 100%;
}
#map{
    max-width: 100%;
    margin: 0 auto;
    height: 508px;
    border-radius: 30px;
}
.map_container img{
    width: 100%;
    height: auto;
}
.contact_info{
    width: 37%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}
.info_name{
    font: 500 1.875em/1.33em  'Pretendard';
    color: #ffffff;
    margin-bottom: 8%;
}
.info_phone{
    font: bold 3.6em/0.75em 'Pretendard';
    color: #ffffff;
    margin-bottom: 14%;
}
.info_sns{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.info_sns a{
    display: block;
    transition: opacity 0.3s ease;
}
.info_sns a:hover{
    opacity: 0.8;
}
.info_sns img{
    width: 100%;
    height: auto;
    display: block;
}
/* 연락정보영역끝 */

/* 하단영역시작 */
div#footer_wrap::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(245,245,245,0.3);
    position: absolute;
    top: 0px;
    left: 0px;
}
div#footer_wrap{
    width: 100%;
    height: 498px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #1E2A78;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
footer#footer_section{
    width: 100%;
    max-width: 1416px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 2%;
    box-sizing: border-box;
}
.footer_logo{
    margin-left: -12px;
    margin-bottom: 30px;
}
.footer_logo img{
    width: 230px;
    height: auto;
}
.footer_info{
    font: 400 1em/1.6875em 'Pretendard';
    color: #ffffff;
    margin-bottom: 30px;
}
.footer_gray{
    font: 400 1em/1.6875em 'Pretendard';
    color: #7A7A7A;
}
/* 하단영역끝 */

/* 반응형 */
@media screen and (max-width:1240px){
    section#contact{
        height: 62vw;
        font-size: 12px;
    }
    .info_name{
        margin-bottom: 10%;
    }
    .info_phone{
        margin-bottom: 20%;
    }
}

@media screen and (max-width:980px){
    nav#mainmenu{
        width: 60%;
        font-size: 14px;
    }
    section#contact{
        height: 78vw;
        font-size: 10px;
    }
    .info_sns{
        width: 60%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4% 0%;
    }
    .info_name{
        margin-bottom: 12%;
    }
}