/* 서브비쥬얼영역시작 */
div#sub_visual_wrap{
  width: 100%;
  height: 360px;
  position: relative;
  left: 0px;
  top: 0px;
}
.sub_visual_section{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px; 
  background: url('/film_dental_lap/images/sub/sub_visual_01.png') no-repeat center;
}
/* 서브비쥬얼영역끝 */

/* 컨텐츠영역시작 */
div#contents_wrap{
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
section#contact_us{
  width: 90%;
  height: 1384px;
  margin-top: 150px;
  margin-bottom: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 7%;
}

/* 서브제목 영역 */
div#title_container{
  width: 18%;
  height: 100%;
}
.section_title{
  font: bold 36px/52px 'Pretendard';
  color: #1E2A78;
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 30px;
}
.section_title::after{
  content: '';
  width: 100px;
  height: 3px;
  background: #1E2A78;
  position: absolute;
  top: 37px;
  left: 145px;
}
.section_desc{
  font: normal 16px/28px 'Pretendard';
}

/* 문의폼 영역 */
form#contact_form{
  width: 75%;
  height: 100%;
  border: solid 2px #eeeeee;
  border-radius: 30px;
  padding: 80px 63px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 문의유형 - 토글js */
div#category{
  width: 50%; 
  min-width: 350px;
  height: 50px; 
  background-color: #eeeeee;
  border-radius: 10px;
  font: 400 18px/50px 'Pretendard';
  color: #A2A2A2;
  text-indent: 20px;
  margin-bottom: 4vw;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
}
.category_title{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category_title p{
  color: #7A7A7A;
}
.category_title p.selected{
  color: #000000;
  font-weight: 500;
}
.category_title button{
  width: 18px;
  height: 18px;
  border: none;
  margin-right: 20px;
  background: url('/film_dental_lap/images/category_btn.png') no-repeat center;
}
.category_list{
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
}
.category_list.open{
  display:block; 
}
.category_list li{
  width: 100%;
  height: 50px;
}
.category_list li:hover {
  background-color: #1B9AEF;
  color: #ffffff;
}

/* 개인정보작성 */
.form_name_company, .form_phone_email{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 4vw;
}
#contact_form label p{
  font: 500 18px/27px 'Pretendard';
  margin-bottom: 20px;
}
.required{
  color: red;
}
.line{
  width: 100%;
  min-width: 400px; 
  border: none;
  outline: none;  
  border-bottom: solid 2px #eeeeee;
  font: normal 16px/28px 'Pretendard';
}
.line:focus{
  border-bottom: solid 2px #1B9AEF;
}

/* 문의내용작성 */
.form_message{
  width: 100%;
  height: 200px;
  margin-bottom: 4vw;
}
.form_message textarea{
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none; 
  font: normal 16px/28px 'Pretendard';
  padding: 20px 20px;
  box-sizing: border-box;
}

/* 개인정보동의 */
.form_agree{
  width: 100%;
  height: 76px;
  margin-bottom: 8vw; 
  border: solid 2px #eeeeee;
  border-radius: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.agree_label {
  font: 500 18px/27px 'Pretendard';
  display: inline-flex;
  align-items: center;
  gap: 10px; 
}
.more_agree{
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #A2A2A2;
}
.more_agree:hover{
  color: #000000;
}

/* 문의하기 버튼 */
.btn_submit{
  width: 325px;
  height: 68px;
  border: none;
  background: #b3b3b3;
  border-radius:10px; 
  font: 500 18px/27px 'Pretendard';
  color: #ffffff;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.btn_submit:hover{
  background: #1B9AEF;
}

/* 컨텐츠영역끝 */

@media screen and (max-width:1240px){
    .section_title::after{
      display: none;
    }
}


