/* 기본설정시작 */
body,html{
    height: 100%;
}
a{
    color: black;
    text-decoration: none;
}
.hidden{
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
}
/* 기본설정끝 */

/* 상단영역시작 */
header{
    width: 91.11vw;
    height: 48px;
    background-color: #1E2A78;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
h1#logo{
    width: 200px;
    height: 50px;
    background: url('/film_dental_lap/images/logo_film_detal.svg') no-repeat;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
h1#logo a{
    font: 500 14px/27px 'Pretendard';
    color: white;
    text-indent: -9999px;
}

/* 햄버거 아이콘 */
.mobilemenu_icon{
    width: 48px; 
    height: 48px; 
    background: url('/film_dental_lap/mobile/images/menubar.png') no-repeat center;
    position: absolute; 
    top: 0px; 
    right: 0px;
}
#mobilemenu {
    width: 91vw;
    height: 95vh;
    background-color: #1E2A78;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(110%);
    transition: transform 0.4s ease;
    z-index: 2000;
    overflow: hidden;
}
#mobilemenu.open {
    transform: translateX(0);
    overflow-y: auto;
}
#mobile_graylayer{ 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed; 
    left: 0px; 
    top: 0px;
    z-index: 1999;
    display: none;
    transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#mobilemenu_inner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 80px 40px;
    box-sizing: border-box;
    color: #fff;
}
#mobilemenu_inner p{
    font: 700 1rem 'Pretendard';
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mobileclose_btn img{
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; 
}
#mobilemenu_list li{
    margin-bottom: 40px;
}
#mobilemenu_list li a{
    font: 300 1.6rem 'Pretendard';
    letter-spacing: -0.05em;
    color: white;
    margin-bottom: 40px;
    display: block;
    transition: 0.3s;
    position: relative;
}
#mobilemenu_list li a:hover{
    opacity: 0.6;
}
/* 메뉴 열릴 때 리스트 애니메이션 */
#mobilemenu.open #mobilemenu_list li{
    animation: slideUp 0.5s both;
}
#mobilemenu.open #mobilemenu_list li:nth-child(1) { animation-delay: 0.3s; }
#mobilemenu.open #mobilemenu_list li:nth-child(2) { animation-delay: 0.4s; }
#mobilemenu.open #mobilemenu_list li:nth-child(3) { animation-delay: 0.5s; }
#mobilemenu.open #mobilemenu_list li:nth-child(4) { animation-delay: 0.6s; }

@keyframes slideUp {
    from {opacity: 0; transform: translateY(30px);}
    to {opacity: 1; transform: translateY(0);}
}
#mobilenmenu_sns{
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-top: auto;
    padding-top: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
}
#mobilenmenu_sns a{
    width: 48px;
    height: 48px;
    opacity: 0.6;
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
}   
#mobilenmenu_sns a img{
    width: 100%;
    height: 100%;
    display: block;
}
/* 상단영역끝 */

/* 하단영역시작 */
footer{
    width: 100vw;
    height: 280px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #1E2A78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #ffffff;
}
.footer_logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vw;
}
.footer_logo img{
    width: 40%;     
    height: auto;
    object-fit: contain;
}
.footer_info{
    margin-bottom: 6vw;
}
.footer_info p{
    font: 400 14px 'Pretendard';
    color: #ffffff;
    margin-bottom: 5px;
    text-align: center;
}
.footer_gray{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_gray p{
    font: 400 10px 'Pretendard';
    color: #7A7A7A;
}
.footer_copyright{
    font: 400 10px 'Pretendard';
    color: #7A7A7A;
}
/* 하단영역끝 */

/* 반응형 */
@media (orientation: landscape) {
    #mobilemenu{
        width: 70vw; 
        height: 95vh;
        position: absolute;
        right: -75vw;
        overflow: hidden;
    }
    #mobilemenu_inner{
        height: auto;
    }
    footer{
        padding: 4vw 0;
    }
    .footer_logo, .footer_info{
        margin-bottom: 2vw;
    }
}
/* 반응형 */